services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.0.1
    container_name: mlflow
    ports:
      - "8080:8080"
    environment:
      - BACKEND_STORE_URI=sqlite:///mlflow/mlflow.db
      - DEFAULT_ARTIFACT_ROOT=/mlflow/artifacts
    volumes:
      - ./mlflow:/mlflow
    command: mlflow server --host 0.0.0.0 --port 8080 --backend-store-uri sqlite:///mlflow/mlflow.db --default-artifact-root /mlflow/artifacts --serve-artifacts

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "8000:8000"  # Fixed the port mapping
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:8080
    volumes:
      - ./app:/usr/src/app
      - ./mlflow:/mlflow
    depends_on:
      - mlflow