services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    environment:
      - MODEL_PATH=/models/regression.joblib
    volumes:
      - ./regression.joblib:/models/regression.joblib:ro